
<div class="search-container">
    <input type="search" class="form-control me-2 w-25" aria-label="Search" id="search-input" placeholder="Search for a movie" 
    @oninput="@(e => OnChangeSearch(e.Value.ToString()))"/>



   @*  <div class="search-container">
    <input type="search" class="form-control me-2" aria-label="Search" id="search-input" placeholder="Search for a movie" @bind-value="searchQuery"
            @oninput="@(e =>  OnSearchQuerySubmitted(e.Value.ToString()))" /> *@


</div>

@code {
    // [Parameter]
    // public string? searchQuery { get; set; }
    [Parameter]
    public EventCallback<string> SearchQueryChanged { get; set; }
    private async Task OnChangeSearch(string searchTerm)
    {
        await SearchQueryChanged.InvokeAsync(searchTerm);
    }

    //This method is been use in the NavMenu.razor but is not ready yet.
    [Parameter]
    public EventCallback<string> SearchQuerySubmitted { get; set; }
    private async Task OnSearchQuerySubmitted(string searchTerm)
    {
        await SearchQuerySubmitted.InvokeAsync(searchTerm);
    }



    

}
