@page "/favorite-movies"

<PageTitle>Favorite Movies</PageTitle>

<div class="container">


    <h3>FavoriteMovieList</h3>
 

    @if (favoriteMovies == null)
    {
        <p><em>Loading...</em></p>
       
    }
    else if(favoriteMovies.Count > 0)
    {
        <div class="row">
            @foreach (var movie in favoriteMovies)
            {
                <div class="col-md-3 pt-4">
                    <div class="card" style="width: 18rem;">
                        <MovieCard Movie="@movie" PosterBasePath="@posterBasePath" ClickRemoveFavoriteMovie="OnRemoveFavorite"></MovieCard>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-muted">No favorite movies found</p>
    }
   
</div>
@code {
    [Inject]
    public IApiServiceGet<Movie> ApiService { get; set; }
    [Inject]
    public IApiServiceRemove<Movie> ApiServiceRemove { get; set; }

    public string posterBasePath = "https://image.tmdb.org/t/p/w185_and_h278_bestv2";

    private List<Movie?> favoriteMovies;

    protected override async Task OnInitializedAsync() => favoriteMovies = await ApiService.GetAsync();

   

    private async Task<Movie> OnRemoveFavorite(Movie movie)
    {
        var result = await ApiServiceRemove.RemoveAsync(movie.Id);
        if(result != null)
        {
            favoriteMovies.Remove(movie);
        }
        return result;
    }
 

}
