@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body

           @*  <div class="fixed-bottom">
                <footer class="footer mt-auto py-3 bg-dark text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="left-content">
                            <span>&copy; TheMovieDbWebApp 2021</span>
                            <span class="ml-2">All rights reserved.</span>
                            <span class="ml-2">Terms of Service</span>
                            <span class="ml-2">Privacy Policy</span>
                        </div>
                        <div class="right-content">
                            <!-- Add your content here -->
                            <p>Powered by <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a></p>
                        </div>
                    </div>
                </footer>
            </div> *@

        </article>
    </main>
</div>
